# Virtual Environment
venv/
/venv

# Python cache
__pycache__/
*.pyc

# IDE / Editor folders
.vscode/
.idea/

# Secret files
.env

# Database files
*.db
studybuddy.db

# Vector Database
chroma_db/

# Private Docs
INTERVIEW_PREP.md